/* Base styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);

    color: #fff;
    font-family: 'Merriweather', serif;
}



/* Base typography styles */
.heading-primary {
    font-family: 'Fira Sans', sans-serif;
    font-size: 11rem;
    font-weight: 900;

    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 3px;
}






/* Utility classes */
.u-text-align-c {
    text-align: center;
}







/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    position: fixed;

    background-color: #fff;

}

.navbar__list {
    display: flex;

    list-style-type: none;

}

.navbar__link:link,
.navbar__link:visited {
    display: block;
    padding: 1.5rem 2rem;
    
    color: #333;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;

    transition: all 0.3s;
}


.navbar__link:hover,
.navbar__link:active {
    background-color: #333;

    color: #fff;
}

.navbar__link.navbar__link--active {
    background-color: #333;

    color: #fff;
}







/* The header styles */
.header {
    margin: 22rem 0 12rem;
}






